body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.main_part {
    width: 90%; /*taille du bloc*/
    margin: auto; /**/
    padding: 20px; /*décalage interne des éléments*/
    background-color: #e7e7e7;
    border-radius: 10px; /*contours*/
    text-align: left; /*centrer le texte dans le bloc*/
}

p {
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 1.5;
}

.return_button {
    border-radius: 8px;
    border: none;
}
/*---------------------------------------------------------------------------*/

.vecteur {
    position: relative;
    display: inline-block;
}
.vecteur::before {
    content: "→";
    position: absolute;
    top: -0.55em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
}
/*---------------------------------------------------------------------------*/

.listage {
    list-style-position: inside; /* optionnel : puces à l'intérieur du bloc */
    padding-left: 0; /* enlever le padding par défaut */
    text-align: left; /* ou center si tu veux le texte centré aussi */
    display: inline-block; /* permet de centrer le bloc ul */
    margin: 0 auto; /* centre horizontalement le bloc ul */
}

/*---------------------------------------------------------------------------*/
.addition { 
    margin: 0 auto;
    font-family: monospace;
    width: 80px;
}

.ligne {
    text-align: right;
}

.resultat {
    font-weight: bold;
    font-size: 11px;
}
/*---------------------------------------------------------------------------*/

.images {
    height: auto;
}
.t100 {max-width: 100%;}
.t90 {max-width: 90%;}
.t80 {max-width: 80%;}
.t75 {max-width: 75%;}
.t60 {max-width: 60%;}
.t50 {max-width: 50%;}
/*---------------------------------------------------------------------------*/

.sous-bleu {
    border-bottom: 2px solid blue;
    padding-bottom: 2px;
}
.sous-rouge {
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}
/*---------------------------------------------------------------------------*/

.sqrt {
  position: relative;
  display: inline-block;
  padding-left: 1.2em; /* espace pour le √ */
}

.sqrt::before {
  content: "√";
  position: absolute;
  left: 0.35em;
  bottom: -0.1em;
  font-size: 1.2em;
}

.sqrt::after {
  content: "";
  position: absolute;
  left: 1.1em; /* commence après le √ */
  right: 0;
  top: 0.1em;
  border-top: 1px solid black;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/





